<p><%= link_to 'Send new mail', new_email_path %></p>

<%= form_tag emails_path, :method => :get do |f| %>
<div class="field">
  <%= label_tag :user, "View mail as" %><br />
  <%= text_field_tag :u, @user %>
</div>
<% end %>

<p><%= link_to "Inbox", emails_path(:u => @user, :v => :i) %></p>
<p><%= link_to "Sent mail", emails_path(:u => @user, :v => :sm) %></p>

<h2><%= params[:v] == "sm" ? "Sent Mail" : "Inbox" %></h2>

<table>
  <tr>
    <th>To</th>
    <th>From</th>
    <th>Subject</th>
    <th>Time</th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%= email.to %></td>
    <td><%= email.from %></td>
    <td><%= link_to email.subject, email %></td>
    <td><%= email.time %></td>
  </tr>
<% end %>
</table>

<br />

