<h2><%= params[:v] == "sm" ? "Sent Mail" : "Inbox" %></h2>

<table>
  <tr>
    <th>To</th>
    <th>From</th>
    <th>Subject</th>
    <th>Time</th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%= email.to %></td>
    <td><%= email.from %></td>
    <td><%= link_to email.subject, email %></td>
    <td><%= email.time %></td>
  </tr>
<% end %>
</table>

<br />
