<!DOCTYPE html>
<html>
<head>
  <title>Seemail</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= image_tag 'seemaillogo.png', :style => "height:100px;float:left;" %> 
	<h1>CC Everyone</h1>
	<h2>open communication</h2>
	
	<div style="clear:both">
		
	</div>

<div style="background-color:#fff;display:inline-block">
	
	<%= yield %>
</div>

</body>
</html>
