<!DOCTYPE html>
<html>
<head>
  <title>SEEmail</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= link_to root_url do %>
	<%= image_tag 'seemaillogo.png', :style => "height:100px;float:left;" %> 
	<% end %>
	<h1>CC Everyone</h1>
	<h2>open communication</h2>
	
	<div style="clear:both"></div>
	
	<p>No privacy, no security, no censorship. <%= link_to "https://github.com/itsgucci/seemail" do %>SEEmail is free software.<% end %></p>
	
	<div style="clear:both"></div>

<div style="background-color:#fff;display:inline-block">
	
	<%= yield %>
</div>

</body>
</html>
